.logo__login--lex {
    width: 6em;
    height: 6em;
}

.logo__header--lex {
    width: 1.6em;
    height: 1.6em;
    margin-left: 0.7em;
}

.logo__footer--lex {
    width: 2em;
    height: 2em;
    margin-bottom: 0.5em;
}

.logo__white {
    fill: #FCFCFC !important;
}