.logo__login--lex {
    width: 7em;
    height: 7em;
}

.logo__header--lex {
    width: 1.7em;
    height: 1.7em;
    margin-left: 0.7em;
}

.logo__footer--lex {
    width: 2em;
    height: 2em;
    margin-bottom: 0.5em;
}

.logo__gray {
    fill: #dbdbdb !important;
}