.card__selected {
    display: grid;
    margin: 0.8em;
    padding: 0.5em;
    width: 85%;
    font-size: 1em;
}

.selected__type {
    grid-column: 1;
    grid-row: 1;
    font-size: 0.6em;
}

.selected__h1 {
    grid-column: 1 / 2;
    grid-row: 2;
}

.selected__description {
    grid-column: 1 / 2;
    grid-row: 3;
    font-size: 0.6em;
}