.card__definition--close {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    align-self: start;
}

.definition__h3 {
    margin-bottom: 0.3em;
}

.definition__next {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 0.5em;
}

.next__text {
    font-size: 0.75em;
    margin: 0 0.5em;
}

.definition__h4--speech {
    grid-column: 1;
    grid-row: 4;
}

.card__definition--text {
    grid-row: 5;
    grid-column: 1 / 3;
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: var(--weightNormal);
}

.definition__h4--synonym {
    grid-column: 1;
    grid-row: 6;
}

.definition__words {
    grid-row: 7;
    grid-column: 1 / 3;
}

.definition__submit {
    margin-top: 1em;
    grid-row: 8;
    grid-column: 1 / 3;
}

