.card__selected {
    display: grid;
    padding: 0.5em;
    width: 85%;
    font-size: 1em;
}

.selected__h1 {
    grid-column: 1 / 2;
    grid-row: 2;
}

.selected__description {
    grid-column: 1 / 2;
    grid-row: 3;
    font-size: 0.6em;
}

.selected__search {
    grid-column: 1 / 2;
    grid-row: 4;
}

.selected__categorization {
    grid-column: 1 / 2;
    grid-row: 5;
}

.selected__divider {
    grid-column: 1 / 3;
    grid-row: 6;
    height: 0.3em;
    margin: 1em 0;
    width: 15em;
}

.selected__words {
    grid-column: 1 / 2;
    grid-row: 7;
}

